.o_main_navbar .dropdown-menu.show{
    width: 240px;
}
.menu_badge {
    display: inline-block;
    min-width: 2em; /* em unit */
    padding: .3em; /* em unit */
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background: #7c7bad;
    color: #fefefe;
}
