.fold-wrapper-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.fold-wrapper-wrapper .fold-wrapper-description {
    position: relative;
    overflow: hidden;
    color: rgba(0,0,0,.8);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.fold-wrapper-wrapper .fold-wrapper-last-toggle {
    position: relative;
    display: none;
    margin-top: 15px;
}

.fold-wrapper-wrapper:not(.fullview) .fold-wrapper-description::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
    z-index: 11;
}